body {
  background-color: white;
}
header {
  text-align: center;
  background-color: white;
  color: red;
  /*font-family: 'Creepster';*/
}
#title {
  font-family: 'Creepster';
  display: inline;
}
a {
  color: red;
}
h1 {
  font-size: 60px;
}
ul {
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 40px 0px 40px;
  font-size: 30px;
}
/*.flex {
  display: inline;
  justify-content: space-between;
  align-items: baseline;
}*/
